@font-face {
   font-family: 'HelveticaSalini';
   src: url(../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.eot?);
   src: url(../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.woff) format ('woff');
   src: local('HelveticaSalini'), url('../fonts/Flaticon_Converted_Font/helveticaneueltstd-lt.ttf') format('truetype');
}
@font-face {
   font-family: 'HelveticaSaliniBd';
   src: url(../fonts/Flaticon_Converted_Bd/helveticaneueltstd-bd.eot?);
   src: local('HelveticaSaliniBd'), url('../fonts/Flaticon_Converted_Bd/helveticaneueltstd-bd.ttf') format('truetype');
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #d14841;
  margin-right: 10px;
}
#menu-0 .mbr-navbar__items a {
    font-family: 'HelveticaSaliniBd', sans-serif;
  font-weight: bold;
}
#header1-1 H1 {
  font-size: 70px;
  font-family: 'HelveticaSalini';
  font-weight: 300;
  
}
#header4-4 H1 {
  text-align: left;
}
