<section  id="s1" class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background"
              style="background-image:url(assets/images/cielo.png);min-height: 1100px;">
        <div id="1" class="sfondo bg9">
            <div id="title-block" style="text-align-last: center;" >
                <img style="width: 100%;" src="img/symphony-of-values.png"/>

            </div>
        </div>
         <div id="2" class="sfondo">
             <div id="red-block"><img id="vision-img"> </div>
         </div>
         <div id="4" class="sfondo bg10"></div>
         <div id="3" class="sfondo">
             <div id="mission-block"><img id="mission-img"></div>
         </div>
         
         <div id="5" class="sfondo bg11"></div>
         <div id="6" class="sfondo bg12">

         </div>

    </section>