<template id="peopleBox">
    <style>
        h1 {
            line-height: 30px;
        }
    </style>
    <span>Ciao</span>
</template>
<script>
    var proto = Object.create(HTMLElement.prototype,{
        createdCallBack: {
            value: function(){
                var x = document.querySelector('#peopleBox');
                var clone = document.importNode(x.content,true);
                document.body.appendChild(clone);
            }
        }
    });
    document.registerElement('people-box',{prototype: proto});
</script>

